.header{
  display:flex;
  justify-content: space-between;
  justify-items: center;
  width: 100%;
  
}
.iteminfo{
  display: flex;
  gap: 1rem;
  justify-content: center;
  justify-items: center;
  color: aliceblue;
}



.headerlogo{
  width:100%;
  display:flex;
  justify-items: center;
  gap:20px;
}

